*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: radial-gradient(at 0% 0%, #46464b, #072324);
  background-repeat: no-repeat;
  overflow: hidden;
}

.minihead {
  color: white;
  font-weight: 100;
  caret-color: transparent;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
}
